<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjc.hustoj.privilege.dao.PrivilegeDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zjc.hustoj.privilege.entity.PrivilegeEntity" id="privilegeEntityMap">
        <result property="userId" column="user_id"/>
        <result property="rightStr" column="rightstr"/>
        <result property="defunct" column="defunct"/>
    </resultMap>



</mapper>