<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjc.hustoj.problem.dao.SolutionDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zjc.hustoj.problem.entity.SolutionEntity" id="solutionMap">
        <result property="solutionId" column="solution_id"/>
        <result property="problemId" column="problem_id"/>
        <result property="userId" column="user_id"/>
        <result property="nick" column="nick"/>
        <result property="time" column="time"/>
        <result property="memory" column="memory"/>
        <result property="inDate" column="in_date"/>
        <result property="result" column="result"/>
        <result property="language" column="language"/>
        <result property="ip" column="ip"/>
        <result property="contestId" column="contest_id"/>
        <result property="valid" column="valid"/>
        <result property="num" column="num"/>
        <result property="codeLength" column="code_length"/>
        <result property="judgeTime" column="judgetime"/>
        <result property="passRate" column="pass_rate"/>
        <result property="lintError" column="lint_error"/>
        <result property="judger" column="judger"/>
    </resultMap>
    <select id="getSolutionCountByUserId" resultType="com.zjc.hustoj.problem.vo.SolutionCountVo">
        SELECT
            COUNT(s.result = 4 OR NULL ) AS successCount ,
            COUNT(s.result = 6 OR NULL ) AS answerError ,
            COUNT(s.result = 11 OR NULL ) AS compileError
        from solution s
        WHERE s.user_id = #{userId};
    </select>
    <select id="getCountByHalfMonth" resultType="com.zjc.hustoj.problem.vo.CountByHalfMonthVo">
        select
        IF( DATE_FORMAT(s.in_date,'%d') &lt;= 15, DATE_FORMAT(s.in_date,'%Y-%m-01') ,DATE_FORMAT(s.in_date,'%Y-%m-16')) AS halfMonth,
        COUNT(s.result) AS submitCount ,
        COUNT(s.result = 4 OR NULL ) AS successCount
        from solution s
        WHERE s.user_id = #{userId}
        group by halfMonth;
    </select>
    <select id="getSolvedProblemByUserId" resultType="com.zjc.hustoj.problem.vo.SolvedProblemVo">
        select
            s.problem_id AS problemId, count(1) as successCount
        from solution s
        WHERE s.user_id = #{userId}
          AND s.result = 4
        GROUP BY s.problem_id;
    </select>


</mapper>